<div class="m_menu_header">
  {% unless title == blank %}
    <div class="m_menu_backward"><img src="{{ "arrow.svg" | asset_url }}" alt=""></div>
    <div class="m_menu_subtitle">{{ title }}</div>
  {% endunless %}
</div>